################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleUnitTest/bin/Debug/netcoreapp3.1
